body {
	background: rgb(67,151,156);
}
  ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
p {
     color: rgb(255,255,255)
}
a {
     color: rgb(236,26,26)
}
 article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
 header {
      text-align: center;
      background: url('https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/300px-Flag_of_the_United_States.svg.png');
      background-size: cover;
      color: white;
    }
 img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
h2 {
 color: rgb(15,36,51)
}

